html {
  font-family: 'Lato', sans-serif;
  width: 1462px;
  height: 945px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  margin-top: -10px;
  margin-left: -10px;
}

/* MAIN */
.main-bg {
  grid-column: 1/5;
  grid-row: 1/2;
  background: url(../imgs/main.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  width: 1462px;
  height: 680px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.main-text {
  text-align: center;
  color: white;
  width: 65%;
  margin: 0 auto;
}

.h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: 300;
  display: block;
  margin-bottom: 0.5em;
}

.h3 {
  display: block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 1em;
}

.navbar > a {
  border-right: 1px solid black;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding-top: 0.8em;
  font-weight: 800;
}

.footer-appl a {
  color: #0088ce;
  text-decoration: none;
}

.watch > a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  font-weight: 300;
}

.footer-1 > div > a {
  margin-right: 0.5em;
  border-left: 0.5px solid #ccc;
  padding-left: 0.5em;
}

.watch > a:hover {
  text-decoration: underline;
}

/* NAVBAR */

.navbar {
  display: grid;
  align-items: center;
  width: 70%;
  height: 36px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
  margin-bottom: 3em;
  background-color: gray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(rgb(102, 102, 102) 0%, rgb(94, 94, 94) 50%, rgb(112, 112, 112) 51%, rgb(128, 128, 128) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  grid-template-columns: repeat(9, 1fr);
}

.navbar > a:hover {
  background-color: rgb(0, 0, 0, 0.4);
}

.search-bar {
  box-shadow: rgba(216, 216, 216, 0.705) 0 1px 2px 0;
  border-radius: 10px;
  height: 1.5em;
  width: 8em;
  margin-right: 1em;
  margin-left: 1em;
}

.search-bar > input {
  padding-left: 1.9em;
  padding-top: 0.3em;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  width: 8em;
}

.search-bar > i {
  position: absolute;
  padding-left: 0.6em;
  padding-top: 0.3em;
  color: white;
  font-size: 15px;
}

/* PRODUCTS */

.products {
  grid-column: 1/5;
  grid-row: 2/3;
  column-gap: 2px;
  display: flex;
  width: 1460px;
  margin: 0 auto;
}

.products > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* FOOTER */

.footer-appl {
  width: 100%;
  margin-left: 10px;
  display: block;
  margin-top: 1em;
}

.footer-appl > * {
  color: #6e6e6e;
  font-size: 0.8334em;
  line-height: 1.2;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.footer-1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

.site-map {
    float: right;
}
