html {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    margin-top: 0px;
}

/* MAIN */
.main-bg {
  grid-column: 1/5;
  grid-row: 1/2;
  background: url(../imgs/main.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  width: 1462px;
  height: 540px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0);
}

.main-text {
    text-align: center;
    color: white;
    width: 65%;
    margin: 0 auto;
}

.h1 {
    font-size: 65px;
    line-height: 65px;
    font-weight: 300;
    display: block;
    margin-bottom: 0.5em;
}

.h3 {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 1em;
}

.watch > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-weight: 300;
}

.watch > a:hover {
    text-decoration: underline;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 36px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    margin-bottom: 3em;
    /* align-items: stretch; */
    /* background-color: gray; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(rgb(102, 102, 102) 0%, rgb(94, 94, 94) 50%, rgb(112, 112, 112) 51%, rgb(128, 128, 128) 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px
}

.navbar > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-right: 1px solid darkgreen;
}

.navbar > a: hover {

}

.search-bar {
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(rgb(102, 102, 102) 0%, rgb(94, 94, 94) 50%, rgb(112, 112, 112) 51%, rgb(128, 128, 128) 100%);
}

.search-bar > input{
  padding-left: 1.3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(rgb(102, 102, 102) 0%, rgb(94, 94, 94) 50%, rgb(112, 112, 112) 51%, rgb(128, 128, 128) 100%);
  border: 1px solid rgba(255, 255, 255, 0);
}

.search-bar > i {
  position: absolute;
  padding-left: 1em;
  padding-top: 0.2em;

}

/* PRODUCTS */

.products {
  grid-column: 1/5;
  grid-row: 2/3;
  column-gap: 2px;
  display: flex;
  width: 1460px;
  margin: 0 auto;
}

.products > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* FOOTER */

.footer-appl {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 1em;
}

.footer-appl > * {
  color: #6e6e6e;
  font-size: .8334em;
  line-height: 1.2;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.footer-appl  a {
  color: #0088ce;
  text-decoration: none;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
}

.footer-1 > div > a {
  margin-right: 0.5em;
  border-left: 0.5px solid #cccccc ;
  padding-left: 0.5em;
}

